<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
    <meta charset="UTF-8">
    <title>about</title>

    {% include 'header.html' %}
</head>
<body>

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
        
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>MedCare is committed towards supporting everyone remain healthy.</h3>
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
            
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
               <h2>OUR AIM, VISION & MISSION</h2>
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i>Our objective aims at establishing world-class standards by going beyond each customer's expectations. 
                </li>
                <li><i class="bi bi-check-circle-fill"></i>We are a group of highly driven young doctors with a goal to provide quality results. 
              </ul>
              
          

              <div class="position-relative mt-4">
                <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->



</body>
</html>
 