<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="css/mobiscroll.javascript.min.css" rel="stylesheet" />
<script src="js/mobiscroll.javascript.min.js"></script>

<head>{% include 'client_header.html' %}
    <meta charset="UTF-8">
    <title>services</title>
</head>
<body>
<br>
<br>
 <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 >Book Slot</h2>
        </div>



      </div></section>

</body>
</html>


<script>

</script>
