<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>

  <!-- End Header -->
  <!-- End Header -->
{% include 'header.html' %}
</head>




  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>MedCare</span></h2>
          <p>MedCare is committed towards supporting everyone remain healthy.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'contact' %}" class="btn-get-started">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="https://media.istockphoto.com/id/1241823073/vector/vector-of-lab-researchers-studying-new-virus-working-in-a-lab-with-a-microscope-and-tools-of.jpg?s=612x612&w=0&k=20&c=Wunjd0sABZg38NHK4OB4UQOymA9k9-hUuzRIL4EzxuU=" class="img-fluid" alt="" data-aos="zoom-out"
               data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"> Best services</h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title">Experienced Doctors & Nurses</h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title">Available Ambulance services</h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title">Firm Assistance</h4>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->

    <!-- ======= Call To Action Section ======= -->
    <!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
   <!-- End Contact Section -->

  <!-- End #main -->

  <!-- ======= Footer ======= -->
 