<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
    <meta charset="UTF-8">
    <title>staff</title>
     {% include 'header.html' %}
</head>
<body>
<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Staff Login</h2>

        </div>
    <div class="col-lg-8">
            <form action="/staff_login/" method="post" role="form" >
{% csrf_token %}
              <div class="row">

              <div class="form-group mt-3">
                  <label>Enter Staff ID :</label>
                <input type="text" class="form-control" name="staffid" id="staffid" placeholder="staffid" required>
              </div>

                   <div class="form-group mt-3">
                       <label>Enter Password :</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
              </div>

              </div>
              <div class="text-center">
                  <br>
                <button type="submit" class="btn btn-success">Login</button>
              </div>
            </form>
          </div><!-- End Contact Form -->

      </div></section>

</body>
